.mainPhoto {
    max-width: 250px;
}

.inputWrapper {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}


input[type="file"] {
    display: none;
}

.customFileUpload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.customFileUpload:hover {
    color: #fff;
    background-color: rgb(38, 38, 39);
}
