.my-posts {
    padding: 20px;
}

.add-post-textarea {
    display: block;
    height: 100px;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #fff;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

.add-post {
    float: right;
    margin-top: 10px;
}
