.header {
    grid-area: h;
    background-color: #F4F4F4;
    width: 1200px;
    height: 60px;
    border-radius: 0px 0px 16px 16px;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-logout {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-logout:hover {
    color: #fff;
    background-color: rgb(38, 38, 39);
}

.header-search {
    display: block;
    width: 80%;
    padding: 10px;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: -25px;

    box-shadow: 0px 2px rgba(0, 0, 0, 0.2);

    color: #313131;
    font-size: 16px;

    transition: 0.4s ease;
}