.nav {
  grid-area: n;
  background-color: #F4F4F4;
  width: 200px;
  border-radius: 16px 16px 0px 0px;
}

ul {
  display: grid;
  grid-template-rows: repeat(5, 30px)
}

li {
  list-style-type: none;
}


.nav a {
  color: #000;
  text-decoration: none;
}

.nav a:hover {
  color: darkorange;
}
  